@charset "utf-8";
/* 内容边界 */
@media (max-width: 749px) {
	.w { margin: 0 20px; clear: both; }
}
@media (min-width: 750px) {
	.w { max-width: 980px; margin: 0 auto; clear: both; }
}
@media (min-width: 750px) and (max-width: 1040px) {
	.w { max-width: auto; margin: 0 30px; }
}

/* 通用列表样式 */
.list > li { list-style: disc; margin-left: 1.3em; }

/* 通用列按钮样式 */
.button {
	background: #1d9bd9;
	background: -webkit-linear-gradient(#3baee7, #08c);
	background: linear-gradient(#3baee7, #08c);
	color: #f6f6f6;
	border-radius: 0.4em;
	padding: 0 0.5em;
}
a.button { display: inline-block; }
.button:visited { color: #f6f6f6; }
.button:hover {
	color: #fff;
	background: #2fa2dc;
	background: -webkit-linear-gradient(#4ab4e8, #1491d0);
	background: linear-gradient(#4ab4e8, #1491d0);
	text-decoration: none;
}
/* 控制某些内容在打印时的显示隐藏 */
.only-for-print { display: none; }
.not-for-print { display: block; }	

/*header*/
.header { border-bottom: 1px solid #d6d6d6; line-height: 1; padding: 15px 0; }
.headerLogo-name { font-size: 2em; font-family: 'PingHei', 'STHeiti SC', 'SimHei'; }
.headerLogo-job { color: #888; }
.header-address { font-style: normal; line-height: 21px; font-size: 0.875em; }
.addressItem {
	padding-left: 24px;
	background-size: 20px auto;
	margin-top: 8px;
	height: 20px;
	line-height: 20px;
}
.addressPhone { background-position: 0 0; }
.addressItem-tel { background-position: 0 -28px; }
.addressItem-email { background-position: left bottom; }
.addressItem-blog { padding-left: 0; background: none; }
.header-address .button { font-size: 0.86em; }
@media (max-width: 319px) {
	.headerLogo { margin-bottom: 12px; line-height: 1.3; }
	.headerLogo-job { display: block; }
}

@media (min-width: 320px) {
	.headerLogo { line-height: 40px; height: 40px; }
	.headerLogo-job { padding-left: 10px; }
}

@media (min-width: 480px) {
	.addressItem { float: left; margin-right: 22px; }
	.addressItem-blog { float: right; margin-right: 0; }
}

@media (min-width: 750px) {
	.header {
		width: 100%;
		height: 40px;
		position: fixed;
		z-index: 99999;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.95);
	}
	.header .w { position: relative; }
	.headerLogo { position: relative; float: left; }
	.headerLogo-name { font-size: 2.5em; }
	.headerLogo-job {
		position: absolute;
		left: 100%;
		bottom: 0;
		line-height: 20px;
		white-space: nowrap;
	}
	.header-address { position: absolute; right: 0;  bottom: 0; }
	.addressItem { margin-left: 28px; margin-right: 0; }

	/* 空出页头位置 */
	.main { padding-top: 71px; }
}

/* 章节 */
.section:nth-child(even) { background: #fafafa; }
.sectionHeader { text-shadow: 1px 1px 0 #fff; line-height: 1.4; }
.sectionHeader-title, .sectionHeader-subtitle {
	font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
	text-align: center;
}
.sectionHeader-subtitle { color: #999; }

@media (max-width: 749px) {
	.section .w { padding: 25px 0; }
	.sectionHeader { margin-bottom: 20px; }
	.sectionHeader-title { font-size: 1.625em; }
	.sectionHeader-subtitle { font-size: 1.25em; }
}

@media (min-width: 750px) {
	.section .w { padding: 35px 0; }
	.sectionHeader { margin-bottom: 30px; }
	.sectionHeader-title { font-size: 2.5em; }
	.sectionHeader-subtitle { font-size: 2.125em; }
}

/* 技术技能章节 */
.sectionBodyList-item {
	position: relative;
	animation-duration: 1.5s;
}
.sectionBodyList-flash{
	animation-name: bar-flash;
	animation-fill-mode: forwards;
	 /*width: 10%;*/
}
@keyframes bar-flash {
	0% { width: 0; }
	100% { width: 100%;}
}
/*.sectionBodyList-item-html-and-css {
	width: 100%;
	animation-name: bar-html-and-css;
	animation-fill-mode: forwards;
}
@keyframes bar-html-and-css {
	0% { width: 0; }
	100% { width: 10%; }
}*/
.sectionBodyList-item-html {
	animation-name: bar-html;
	animation-fill-mode: forwards;
}
@keyframes bar-html {
	0% { width: 0; }
	100% { width: 100%; }
}
.sectionBodyList-item-js {
	animation-name: bar-js;
	animation-fill-mode: forwards;
}
@keyframes bar-js {
	0% { width: 0; }
	100% { width: 90%; }
}
.sectionBodyList-item-sql {
	animation-name: bar-sql;
	animation-fill-mode: forwards;
}
@keyframes bar-sql {
	0% { width: 0; }
	100% { width: 80%; }
}
.sectionBodyList-item-photoshop {
	animation-name: bar-photoshop;
	animation-fill-mode: forwards;
}
@keyframes bar-photoshop {
	0% { width: 0; }
	100% { width: 80%; }
}
.sectionBodyList-item__name {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	overflow: hidden;
	border-left: 3px solid;
	color: #ff742a;
	background-color: #fff6dd;
	border-color: #fdbc40;
}
.sectionBodyList-item--practised .sectionBodyList-item__name {
	color: #6e9c0f;
	background-color: #eaf6d0;
	border-color: #80bd01;
}
.sectionBodyList-mastered .sectionBodyList-item__name {
	color: #2a7da9;
	background-color: #d6efff;
	border-color: #3498db;
}	
.sectionBodyList-item__detail {
	position: absolute;
	left: 150px;
	top: 12px;
	z-index: 9999;
	max-width: 350px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: none;
}

@media (max-width: 749px) {
	.sectionBodyList-item { margin-bottom: 15px; }
}

@media (min-width: 750px) {
	.sectionBodyList-item { margin-bottom: 20px; }
	.sectionBodyList-item:hover .sectionBodyList-item__detail {
		display: block;
		font-size: 0.875em;
	}
	.fade { -webkit-animation: fadeIn 0.8s; animation: fadeIn 0.8s; }
	@-webkit-keyframes fadeIn {
		0% { display: none; opacity: 0; }
		1% { display: block; opacity: 0; }
		100% { display: block; opacity: 1; }
	}
	@keyframes fadeIn {
		0% { display: none; opacity: 0; }
		1% { display: block; opacity: 0; }
		100% { display: block; opacity: 1; }
	}
}

/* 教育经历 */
@media (max-width: 959px) {
	.edu { margin-top: 25px; padding-bottom: 15px; border-bottom: 2px dashed #ccc; }
	.edu-university { border-bottom: none; padding-bottom: 0; }
	.edu__logo {
		width: 30%;
		max-width: 150px;
		min-width: 120px;
		margin: 0 0 10px 20px;
		float: right;
	}
}

@media (min-width: 960px) {
	.edu { width: 50%; float: left; box-sizing: border-box; }
	.edu-seniorschool { padding-right: 4%; }
	.edu-university { padding-left: 4%; border-left: 2px dashed #ccc; }
	.edu-seniorschool .edu__body { padding-right: 180px; }
	.edu-university .edu__body { padding-left: 180px; }
	.edu__logo { width: 150px; }
	.edu-seniorschool .edu__logo { float: right; margin-right: -180px; }
	.edu-university .edu__logo { float: left; margin-left: -180px; }
}


/* 工作经验章节 */
.work-exp-list { border-left: 4px solid #ccc; padding: 1px 0; margin-left: 8px; }
.work-exp-list__point {
	position: relative;
	padding-left: 15px;
	margin: 15px 0;
	height: 26px;
	line-height: 26px;
}
.work-exp-list__point__ico {
	width: 18px;
	height: 18px;
	border: 3px solid #fff;
	border-radius: 12px;
	background: #3498db;
	position: absolute;
	left: -14px;
	top: 0;
}
.work-exp-list__company { margin-left: 20px; }
.work-exp-list__company__header { line-height: 1; }
.work-exp-list__company__headerLogo { width: 100px; display: block; }
.work-exp-list__company__headerLogo img { width: 100%; }
.work-exp-list__company__header__title { font-size: 1.2em; font-weight: bold; }
.work-exp-list__company__header__jobtitle { color: #888; }
.work-exp-list__company__body { margin-top: 4px; }

@media (max-width: 639px) {
	.work-exp-list__company__logo { display: block; margin-bottom: 8px; }
	.work-exp-list__company__header__title { margin-top: 10px; color: blue; }
	.work-exp-list__company__header__jobtitle { margin-top: 2px; }
}

@media (min-width: 640px) {
	.work-exp-list__company { margin-top: 30px; margin-bottom: 30px; }
	.work-exp-list__company__header { position: relative; padding-left: 115px; }
	.work-exp-list__company__headerLogo { position: absolute; left: 0; top: 0; }
	.work-exp-list__company__header__title,
	.work-exp-list__company__header__jobtitle { display: inline-block; }
	.work-exp-list__company__header__jobtitle:before {
		content: '\2014\2014';
		padding-right: 4px;
	}
	.work-exp-list__company__body { padding-left: 115px; }
}


/* 项目经验章节 */
.project { border-bottom: 2px dashed #ccc; }
.project:last-child { border-bottom: none; margin-bottom: 0; }
.project__intro__header { margin-bottom: 6px; position: relative; }
.project__intro__header__title { font-size: 1.2em; font-weight: bold; }
.tech-tag-list__item {
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 0.75em;
	font-family: 'Lucida Grande', arial;
}
.tech-tag-list__item-javascript { background: #f0db4f; color: #333 !important; }
.tech-tag-list__item-nodejs { background: #80bd01; }
.tech-tag-list__item-html { background: #f60; }
.tech-tag-list__item-css { background: #f90; }
.tech-tag-list__item-aspdotnet { background: #68217a; }
.tech-tag-list__item-sqlite { background: #003b57; }
.tech-tag-list__item-mysql { background: #015a84; }
.project__intro__header__period {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #888;
}
.project__intro__links { margin-top: 10px; text-align: right; word-spacing: 1em; }
.project__thumb img { width: 100%; box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); }

@media (max-width: 749px) {
	.project { margin-bottom: 26px; padding-bottom: 16px; }
	.project__thumb { width: 90%; margin: 12px auto 0 auto; }
	.project__intro__header__title { padding-bottom: 3px; }
}

@media (min-width: 750px) {
	.project { margin-bottom: 36px; padding: 0 0 20px 10px; }

	.project__intro { width: 100%; float: left; }
	.project__intro__header { margin-top: -2px; }
	.project__intro__header__title { padding-bottom: 3px; }

	.project__thumb { float: right; }
	.project--nothumb { padding-right: 10px !important; }
}

@media (min-width: 750px) and (max-width: 959px) {
	.project { padding-right: 290px; }
	.project__thumb { width: 250px; margin-right: -280px; }
}

@media (min-width: 960px) {
	.project { padding-right: 380px; }
	.project__thumb { width: 320px; margin-right: -370px; }
}


/* 页脚 */
.footer { border-top: 1px solid #e8e8e8; color: #888; font-size: 0.875em; }
.footer .w { padding: 15px 0; }
.footer__qrcode__img { width: 60px; height: 60px; float: left; }
.footer__qrcode__text { margin: 7px 0 0 10px; float: left; }
.footer__copyright p { text-align: left; }
.footer__copyright__comment { font-size: 0.86em; }

@media (max-width: 749px) {
	.footer__copyright { margin-top: 8px; }
}

@media (min-width: 750px) {
	.footer__qrcode { float: left; }
	.footer__copyright { margin-top: 7px; float: right; }
	.footer__copyright p { text-align: right; }
}
